﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>

@{
    var permohonanCount = ViewBag.PermohonanCount;
    var penggunaCount = ViewBag.PenggunaCount;
}

<div class="row">
    <div class="col-md-6">
        <h2>JUMLAH PERMOHONAN</h2>
        <p>
            <h3>@permohonanCount</h3>
        </p>
        <select id="permohonanSumm">
            <option value="pie">Pie Chart</option>
            <option value="radar">Radar Chart</option>
            <option value="doughnut">Doughnut Chart</option>
            <option value="bar">Bar Chart</option>
            <option value="line">Line Chart</option>
        </select>
    </div>
    <div class="col-md-6">
        <h2>JUMLAH PENGGUNA</h2>
        <p>
            <h3>@penggunaCount</h3>
        </p>
        <select id="penggunaSumm">
            <option value="pie">Pie Chart</option>
            <option value="radar">Radar Chart</option>
            <option value="doughnut">Doughnut Chart</option>
            <option value="bar">Bar Chart</option>
            <option value="line">Line Chart</option>
        </select>
    </div>
</div>

<hr />

<div class="row">
    <div id="chartContainer1" class="col-md-6">
        <canvas id="myChart1" style="width:100%;"></canvas>
    </div>
    <div id="chartContainer2" class="col-md-6">
        <canvas id="myChart2" style="width:100%;"></canvas>
    </div>
</div>

<script src="~/Scripts/Module/dashboard.js"></script>

<script>
    DashboardModule.init();
    $("#permohonanSumm").change(function () {
        var type = this.value;
        DashboardModule.resetChart1();
        DashboardModule.loadPermohonanChart(type);
    });

    $("#penggunaSumm").change(function () {
        var type = this.value;
        DashboardModule.resetChart2();
        DashboardModule.loadPenggunaChart(type);
    });
</script>
